<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GlobaMart stores</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-circle" />
                @Html.ActionLink("GlobaMart stores", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav head-btn-container">
                    <li> 
                        <button class="btn btn-sm">@Html.ActionLink("Login", "Login", "User")</button>
                    </li>
                </ul>
                <img class="img-circle" />
            </div>
        </div>
        <div class="container navbar-fixed-search">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Categories</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="category_dropdown_menu">
                                <!-- Product categories here -->
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" class="form-control" name="x" placeholder="Search product by name...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <span class="btn-cart">
                            <button class="btn btn-default btn-cart" type="button">cart</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GlobaMart stores</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/handlebar")
    @RenderSection("scripts", required: false)

    <script type="text/x-handlebars-template" id="searchbar_product_category">
            <li><a href='#all'>All</a></li>
            <li id="list-item-divider" class='divider'></li>
            {{#each Categories}}
            <li><a href="#{{Category}}">{{Category}}</a></li>
            {{/each}}
    </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            
            var AddDefaultMenu = function (e) {
                $("#category_dropdown_menu").html("<li><a href='#all'>All</a></li><li class='divider'></li>");
            };

            $.ajax({
                type: "GET",
                url: "api/products/types",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(params)
            }).done(function (response) {
                if (response.d.ReturnCode !== 0) {
                    $("#category_dropdown_menu").html(
                        Handlebars.compile($("#searchbar_product_category").html())(response.d.Result)
                    );
                }
            });

            $('.search-panel .dropdown-menu').find('a').click(function(e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#","");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });
        });
    </script>

</body>
</html>
